<form class="joukkueform" action="{{action_url}}" method="POST">
    {{ form.csrf_token }}
    <fieldset>
        {% if mode=='edit' %}
        <div id='sarjat'>
            {{form.sarja.label}}
            {% for subfield in form.sarja %}
            <div>
                {{ subfield }} {{ subfield.label }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div id='joukkue_nimi'>
            {{ form.nimi.label }} <div class='input-container'>{{ form.nimi }}</div>{% for error in form.nimi.errors %} <span class='error right'>{{ error|e }}</span> {% endfor %}
        </div>
       
        <div id='joukkue_salasana'>
            {{ form.salasana.label }} <div class='input-container'>{{ form.salasana }}</div> {% for error in form.salasana.errors %} <span class='error right'>{{ error|e }}</span> {% endfor %}
        </div>
        <div id='joukkue_salasana'>
            {{ form.salasana2.label }} <div class='input-container'>{{ form.salasana2 }}</div> {% for error in form.salasana2.errors %} <span class='error right'>{{ error|e }}</span> {% endfor %}
        </div>

        <div id='joukkue_jasenet'>
        {{ form.jasenet.label }}
        {% if form.jasenet.errors|length %} <div class='error'>{{ form.jasenet.errors[0][0]|e }}</div> {% endif %}
        {{ form.jasenet }} 
        </div>

        {% if role=='admin' %}
        {{ form.poista.label }}{{ form.poista }}
        {% endif %}
        <button type="submit">Tallenna</button>
    </fieldset>
</form>