.grid-container {
    display: grid;
    grid-template-columns: auto minmax(300px, 50%) 200px auto;
    grid-template-rows: minmax(50px, auto) 1.5fr 0.8fr 1fr 1fr;
    min-height: 100%;
    margin-bottom: 50px;
}

.valitsinpalkki {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.suosikit {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
}

.kartta {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.havaintotaulukko {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    white-space: nowrap;
}

.kaavio {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.ennustetaulukko {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    white-space: nowrap;
}

.suosikki {
    font-size: larger;
    margin-top: 0.5rem;
    cursor: pointer;
}

.suosikki:hover {
    text-decoration: underline;
}

.valikko > div {
    cursor: pointer;
}

.valikko > div:hover {
    text-decoration: underline;
}

.ennustetaulukko table {
    width: 100%;
}

.havaintotaulukko table {
    width: 100%;
}

.valitsinpalkki select {
    margin: 1rem;
}