body {
    font-family: Verdana, Arial, sans-serif;
  } 
  main {
    display: flex;
    position: relative;
    gap: 1em;
  }
  
  #kilpailu {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: 2vh;
  }
  #kilpailu select {
   font-size: 1em;
  }
  
  section label {
   display: block;
   font-size: 2vh;
   border: 1px solid black;
   padding-left: 1em;
   padding-right: 1em;
  }
  
  section input[type=radio] {
   display: none;
  }
  
  [type=radio]:checked ~ label {
    background-color: blue;
    color: white;
  }
  
  [type=radio]:checked ~ label ~ * {
    display: block;
  }
  
  .tab {
    display: none;
    position: absolute;
    left: 0;
  }
  