{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block nav %}
<p>TULOSPALVELU</p>
{% endblock %}

{% block content %}
<h1>Kirjaudu</h1>
{% for error in loginerrors %}
<span class="message error">{{error}}</span>
{% endfor %}

<form action="{{url_for('auth.login')}}" method="GET">
    <input type="image" name="login" src="{{url_for('static', filename='btn_google_signin_dark_normal_web@2x.png')}}" alt="Login with google">
</form>
{% endblock %}

{% block footer %}
{% endblock %}