<ul>
    {% if 'admin' in roles %}
    <li >ADMIN ({{valittu_kilpailu_nimi}})</li>
    {% endif %}
    <li ><a href="{{url_for('joukkueet.listaa')}}">Kilpailut</a></li>
    <li ><a href="{{url_for('joukkueet.lisaa')}}">Lisää joukkue</a></li>
    {% if 'admin' in roles %}
    <li ><a href="{{url_for('rastit.lisaa')}}">Lisää rasti</a></li>
    <li><a href="{{url_for('auth.admin_logout')}}">Poistu ylläpitotilasta</a></li>
    {% else %}
    <li><a href="{{url_for('auth.admin_login')}}">Kirjaudu ylläpitäjänä</a></li>
    {% endif %}
    <li class='right'><a href="{{url_for('auth.logout')}}">Kirjaudu ulos</a> </li>
</ul>