.tab-label {
    display: block;
    font-size: 2vh;
    border: 1px solid black;
    padding-left: 1em;
    padding-right: 1em;
}

.tab-toggle {
    display: none;
}

.tab-toggle:checked ~ label {
    background-color: blue;
    color: white;
}

.tab-toggle:checked ~ label ~ * {
    display: block;
}
