{% extends "joukkueet/joukkue_base.html" %}
{% block title %}Muokkaa{% endblock %}
{% block content %}

<form action="/joukkueet/muokkaa" method="POST">
    {{ form.csrf_token }}
    <fieldset>
        <div id='sarjat'>
            {{form.sarja.label}}
            {% for subfield in form.sarja %}
            <div>
                {{ subfield }} {{ subfield.label }}
            </div>
            {% endfor %}
        </div>
        <div id='joukkue_nimi'>
            {{ form.nimi.label }} {{ form.nimi }} {% for error in form.nimi.errors %} <span class='error'>{{ error|e }}</span> {% endfor %}
        </div>

        <div id='joukkue_jasenet'>
        {{ form.jasenet.label }}
        {% if form.jasenet.errors|length %} <div class='error'>{{ form.jasenet.errors[0][0]|e }}</div> {% endif %}
        {{ form.jasenet }} 
        </div>
        <button type="submit">Tallenna</button>
    </fieldset>
</form>

{% endblock %}