{% extends "joukkueet/joukkue_base.html" %}
{% block title %}Listaa{% endblock %}
{% block content %}

<h1>Kilpailun sarjat ja joukkueet:</h1>
<ul>
    {% for kilpailu in kilpailut.values() %}
    <li class='bold large'>{{kilpailu['nimi']}}</li>
        <ul>
            {% for sarja in kilpailu['sarjat'].values() %}
            <li class='bold large'>{{sarja['nimi']}}</li>
                <ul>
                {% for joukkue in sarja['joukkueet'].values() %}
                    <li class='large'>{{joukkue['nimi']}}</li>
                        <ul>
                            {% for jasen in joukkue['jasenet'] %}
                            <li>{{jasen}}</li>
                            {% endfor %}
                        </ul>
                {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>

{% endblock %}