{% extends "joukkueet/joukkue_base.html" %}
{% block title %}Listaa{% endblock %}
{% block content %}

<h1>Kilpailun sarjat ja joukkueet:</h1>
<ul>
    {% for kilpailu_id, kilpailu in kilpailut.items() %}
    <li class='bold large'>{{kilpailu['nimi']}}</li>
        <ul>
            {% for sarja_id, sarja in kilpailu['sarjat'].items() %}
            <li class='bold large'>{{sarja['nimi']}}</li>
                <ul>
                {% for joukkue_id, joukkue in sarja['joukkueet'].items() %}
                    {% if joukkue['saa_muokata'] %}
                    <li class='large'><a href="{{url_for('joukkueet.muokkaa', id=joukkue_id, sarja=sarja_id, kilpailu=kilpailu_id)}}">{{joukkue['nimi']}}</a></li>
                    {% else %}
                    <li class='large'>{{joukkue['nimi']}}</li>
                    {% endif %}
                        <ul>
                            {% for jasen in joukkue['jasenet'] %}
                            <li>{{jasen}}</li>
                            {% endfor %}
                        </ul>
                {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>

{% endblock %}