{% extends "layout.html" %}
{% block title %}LOGIN{% endblock %}
{% block content %}


<form action="/admin/login" method="POST">
    {{ loginform.csrf_token }}
    <fieldset>
        <div>
            {{ loginform.kayttaja.label }} {{ loginform.kayttaja }}
        </div>
        <div>
            {{ loginform.salasana.label }} {{ loginform.salasana }}
        </div>
        <button type="submit">Kirjaudu</button>
        {% for error in loginerrors %}
        <span class="error">{{error}}</span>
        {% endfor %}
    </fieldset>
</form>

{% endblock %}

{% block footer %}Kirjaudu joukkueena <a href="{{url_for('auth.login')}}">tästä</a>.{% endblock %}