<form class="joukkueform" action="{{action_url}}" method="POST">
  {{ form.csrf_token }}
  <fieldset>

      
    {% if mode=='lisaa' %}
    <div class="clear">
      {{form.kilpailu.label}}
      <div class="input-container">
        {% for subfield in form.kilpailu %}
        <div>{{ subfield }} {{ subfield.label }}</div>
        {% endfor %}
      </div>
    </div>
    <button class="clear" type="submit"  formnovalidate='formnovalidate' formmethod="get" formaction="{{action_url}}">Valitse</button>
    {% endif %}

    <div class="clear">
      {{ form.nimi.label }}
      <div class="input-container">{{ form.nimi }}</div>
      {% for error in form.nimi.errors %}
      <span class="error right">{{ error|e }}</span> {% endfor %}
    </div>

    <div class="clear">
      {{form.sarja.label}}
      <div class="input-container">
        {% for subfield in form.sarja %}
        <div>{{ subfield }} {{ subfield.label }}</div>
        {% endfor %}
      </div>
    </div>


    <div class="clear">
      {{ form.jasenet.label }} {% if form.jasenet.errors|length %}
      <div class="error">{{ form.jasenet.errors[0][0]|e }}</div>
      {% endif %}
      <div class="input-container">{{ form.jasenet }}</div>
    </div>

    {% if role=='admin' %}
    <div class="clear">{{ form.poista.label }}{{ form.poista }}</div>
    {% endif %}
    <button class="clear" type="submit">Tallenna</button>
  </fieldset>
</form>
