{% extends "layout.html" %}
{% block title %}LOGIN{% endblock %}

{% block nav %}
<p>TULOSPALVELU</p>
{% endblock %}

{% block content %}
<h1>Kirjaudu</h1>
{% for error in loginerrors %}
<span class="message error">{{error}}</span>
{% endfor %}

Welcome, {{user}}

{% endblock %}

{% block footer %}

{% if role=='joukkue' %}
Kirjaudu ylläpitäjänä <a href="{{url_for('auth.admin_login')}}">täällä</a>.
{% else %}
Kirjaudu joukkueena <a href="{{url_for('auth.login')}}">täällä</a>.
{% endif %}
{% endblock %}